.footer {
  text-align: center;
  margin: $size-250 0;
  font-size: $size-font-small;
}

.footer .info {
  font-family: $brandon;
  font-weight: 600;
  color: $color-gray;
}

.social-icon,
.social-icon img {
  width: $size-125;
  margin: 0 5px;
}
