.header {
  text-align: center;
  margin: $size-250 0;
}

.logo {
  font-family: $raleway;
  font-size: $size-font-huge;
  font-weight: 200;
  position: relative;
}

.header .logo {
  margin: $size-33 0;
}

.logo .cursive {
  display: inline-block;
  font-family: $bombshell;
  font-size: $size-font-huge-bombshell;
  position: relative;
  top: -4px;
  margin-right: 10px;
}

.menu {
  font-family: $brandon;
  font-size: $size-font-small;
  text-transform: uppercase;
}

.menu-item {
  margin-right: $size-150;
}

.menu-item:hover {
  color: $color-gray;
}

.menu-item.-active:hover {
  color: $color-black;
}

.menu-item.-active {
  border-bottom: 2px solid $color-green;
}

.menu-item:last-child {
  margin-right: 0;
}

@include mobile-breakpoint {
  .header .logo {
    font-size: $size-font-xlarge;
  }

  .header .logo .cursive {
    font-size: $size-font-xlarge-bombshell;
  }

  .menu {
    font-size: $size-font-xsmall;
  }
}
