$color-black: #273347;
$color-white: #fafafa;
$color-green: #409b88;
$color-green-hover: #50ab98;
$color-dark-green: #004b38;
$color-blue: #0e2447;
$color-gray: #778397;
$color-light-gray: #a7b3c7;
$color-off-white: #ededed;
$color-red: red;

.color-white {
  color: $color-white;
}
.color-green {
  color: $color-green;
}
.color-dark-green {
  color: $color-dark-green;
}
.color-blue {
  color: $color-blue;
}
.color-gray {
  color: $color-gray;
}
