html,
body {
  font-family: $avenir;
  font-size: 16px;
  color: $color-black;
}

// @include mobile-breakpoint {
//   html,
//   body {
//     font-size: 12px;
//   }
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.centered,
.-centered,
.center,
.-center {
  text-align: center;
}

.left,
.-left {
  text-align: left;
}

.right,
.-right {
  text-align: right;
}

.huge-type {
  font-size: $size-font-xhuge;
}

.xlarge-type {
  font-size: $size-font-xlarge;
}

.large-type {
  font-size: $size-font-large;
}

.medium-type {
  font-size: $size-font-medium;
}

.normal-type {
  font-size: $size-font-normal;
}

.small-type {
  font-size: $size-font-small;
}

.xsmall-type {
  font-size: $size-font-xsmall;
}

.tiny-type {
  font-size: $size-font-tiny;
}

.primary-type {
  color: $color-black;
}

.secondary-type {
  color: $color-gray;
}

.description-header {
  color: $color-black;
  font-family: $brandon;
  font-size: $size-font-xlarge;
  font-weight: 600;
}

.description-subheader {
  color: $color-gray;
  font-family: $brandon;
  font-size: $size-font-medium;
  font-weight: 400;
}

.description-body,
p {
  color: $color-black;
  font-family: $avenir;
  font-size: $size-font-small;
  line-height: 1.4rem;
}

.cursive {
  font-family: $bombshell;
}

.service-title {
  color: $color-black;
  font-family: $brandon;
  font-size: $size-font-large;
  font-weight: 500;
}

.contrast-box {
  background: $color-off-white;
  padding: $layout-padding-normal $layout-padding-small;
  color: $color-black;
}

.contrast-box > div,
.contrast-box > p,
.contrast-box .description-body {
  color: $color-black;
}

.contrast-box > a,
.contrast-box .description-header {
  color: $color-green;
}
